
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="row" ng-controller="loginController">
    <div class="container">        
        <div class="col-md-12" style="margin-top:10px;">
            <input class="form-control" ng-model="txtusername" type="text" placeholder="User id"/>
        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <input class="form-control"ng-model="txtpassword" type="text" placeholder="Password" />

        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <input class="form-control" ng-model="txtgranttype" type="text" placeholder="grant type"/>

        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <input class="btn btn-md btn-primary" ng-model="btnloin" type="button" value="Login" ng-click="checkLogin()" />
            <input class="btn btn-md btn-primary" ng-model="btncancel" type="button" value="Cancel" />

        </div>
   
       

    </div>
</div>
@section scripts{
    
    <script>
        var app = angular.module('moduleApp', ["ngTable"]);
        app.controller('loginController', ['$scope', '$log', '$http', function ($scope, $log, $http) {

            
            $scope.checkLogin = function () {

                var response = $scope.GetToken();

                response.then(function (resp) {
                    //$log.log("GetToken promise response status= " + resp.status)
                    $scope.userName = resp.data.userName;
                    //Store the token information in the SessionStorage
                    //So that it can be accessed for other views
                    sessionStorage.setItem('userName', resp.data.userName);
                    sessionStorage.setItem('accessToken', resp.data.access_token);
                    $scope.AccessToken = resp.data.access_token;
                    //sessionStorage.setItem('refreshToken', resp.data.refresh_token);
                    // window.location.href = '/Employee/Index';
                    alert("You are Now Authorise");

                    window.location.href = '/Student/Index';
                }, function (err) {
                    $scope.responseData = "Error " + err.status;
                });
            };



            $scope.GetToken = function () {
                
                var resp = $http({
                    url: "/Token",
                    method: "POST",
                    data: $.param({ grant_type: $scope.txtgranttype, username: $scope.txtusername, password: $scope.txtpassword }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                });
                return resp;

            }
        }]);
    </script>
    }